.header {
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height          : 1131px;
}

.shader {
    position: absolute;
    z-index : 0;
    width   : 100%;
    height  : 1131px;
    opacity : 40%;
}

.title {
    position   : relative;
    z-index    : 1;
    font-family: ArchivoBlack;
    color      : #fff;
    font-size  : 65px;
    text-align : center;
    margin     : 0;
    padding-top: 520px;
    text-shadow: -5px -10px 12px #000;
    line-height: 30px;
}

.subtitle {
    position   : relative;
    z-index    : 1;
    font-family: NotoSans;
    color      : #ffc9d8;
    font-size  : 50px;
    text-align : center;
    margin     : 0;
    text-shadow: 0 0 12px #000;
}

.intro {
    position   : relative;
    z-index    : 1;
    color      : #fff;
    text-align : center;
    margin     : 0 auto;
    font-size  : 18px;
    line-height: 30px;
}

.contactButton {
    display         : block;
    position        : relative;
    z-index         : 1;
    color           : #e0829e;
    background-color: #fff;
    border          : none;
    border-radius   : 19px;
    font-size       : 18px;
    padding         : 12px 5px;
    text-decoration : none;
    margin          : 30px auto 0;
    width           : 170px;
    text-align      : center;
    transition      : all 0.25s ease-in-out;
}

.contactButton:hover {
    background-color: #e0829e;
    color           : #fff;
}