body {
  margin: 0;
}

div {
  font-family: NotoSans;
}

@font-face {
  font-family: ArchivoBlack;
  src: url("../fonts/Archivo_Black/ArchivoBlack-Regular.ttf");
}

@font-face {
  font-family: NotoSans;
  src: url("../fonts/Noto_Sans/NotoSans-Regular.ttf");
}

